@import url(https://fonts.googleapis.com/css?family=Playfair+Display) ;

body {
	font-family: "Playfair Display", serif;
	margin:0;
	background-color:white
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

table, td {
	padding-right: 300;
	padding-bottom: 50px;
	padding-left: 300px;
}

h1 {
	positon: fixed; 
	font-size: 50px;
	color: #68336B;
}

h2 {
	positon: fixed; 
	font-size: 35px;
	color: #68336B;
}

.link {
	font-size: 18px;
}

.bullet {
	padding-left: 75px;
	list-style-type: disc;
}

.bullet1 {
	padding-left: 75px;
	list-style-type: circle;
}

.img {
	width: 50%;
}

.text1 {
	padding-right: 100px;
	padding-left: 50px;
}

.text2 {
	padding-right: 100px;
}

.head {
  list-style-type: none;
  padding-left: 0px;
  font-size: 25px;
}

.head:hover .sub {
	display: block;
}

.sub {
  list-style-type: none;
  padding-left: 30px;
  font-size: 18px;
  display: none;
}

.subh {
	padding-right: 300px;
	padding-bottom: 50px;
	padding-left: 400px;
}

.text {
	padding-top: 50px;
	padding-right: 100px;
	padding-left: 475px;
}


.info {
	padding-top: 25px;
	padding-right: 500px;
	
}

.photoh {
	padding-right: 50px;
	padding-top: 0px;
	padding-bottom: 50px;
	padding-left: 25px;
}
.photoc {
	padding-left: 350px;
}
.texth {
	padding-top: 350px;
	padding-right: 200px;
	padding-left: 100px;
}
.textc {
	padding-top: 350px;
	padding-right: 200px;
	padding-left: 130px;
}

#welcomeh {
	transition: margin-left .5s;
	padding-left: 50px;
	padding-top: 25px;
}

#career {
	transition: margin-left .5s;
	padding-left: 50px;
	padding-top: 75px;
}


.navbar {
  overflow: hidden;
  background-color: #e6ccff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #68336B;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e6ccff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #68336B;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#contact {
	transition: margin-left .5s;
	padding-left: 450px;
	padding-top: -100px;
	padding-right: 75px;
}

#main {
	transition: margin-left .5s;
	padding-left: 50px;
	padding-top: 75px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  /* .sidenav a {font-size: 18px;} */
}
